:root {
    --vermelho: #ff0000;
}

ul a {
    background: var(--vermelho);
}





/*ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(seta.png) no-repeat left center;
}*/

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    background: var(--vermelho);
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
}

a:hover {
    background-position: right bottom;
    color: #FFF;
}